doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" id="metaViewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(rel="stylesheet" href="static/css/owlcarousel/owl.carousel.min.css")
    link(rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="static/css/style.css")
    block head_end
    script(type='text/javascript') if (screen.width <= 480) {document.getElementById('metaViewport').setAttribute('content', 'width=480, user-scalable=0')}
  
  body.page
    block content
    
    script(src="static/js/ext/jquery-3.2.1.min.js")
    script(src='static/js/ext/owl.carousel.min.js')
    script(src='static/js/ext/jquery.fancybox.min.js')
    script(type="text/javascript" src="static/js/script-min.js")
    block body_end
