header.header
    a(href="/").logo.header__logo
    .header__menu
        ul.nav
            li.nav__item.nav__item_current
                a(href="/about").nav__link О нас
    .header__toggle
        span.header__toggle-line