extends _layouts/home

block head_end
	link(rel='icon', type='image/x-icon', href='favicon.ico')
	link(rel="stylesheet" href="css/style.css")

block content
	include _partials/header

block body_end
	script(type="text/javascript" src="js/script.js")