header.header
  a(href="/").logo.header__logo
  .header__menu
    ul.nav
      li.nav__item.nav__item_current
        a(href="/about").nav__link О нас
      li.nav__item
        a(href="/team").nav__link Команда
      li.nav__item
        a(href="/contacts").nav__link Контакты
      li.nav__item
        a(href="/services").nav__link Услуги
      li.nav__item
        a(href="/product").nav__link Продукт
      li.nav__item
        a(href="/reviews").nav__link Отзывы
  .header__toggle
    span.header__toggle-line